.home {
  width: 100%;

  section {
    width: 1300px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;

    .first__cont {
      height: 500px;
      display: flex;
      flex-direction: column;
      align-content: space-around;

      line-height: 1.5;

      .p1 {
        width: 660px;
        font-size: 55px;
      }

      .p2 {
        width: 470px;
        font-size: 45px;
      }

      .p3 {
        width: 470px;
        font-size: 45px;
      }
    }
  }

  footer {
    height: 200px;
    background-color: black;
    padding-top: 70px;

    .line {
      border: 0.5px solid rgba(246, 250, 6, 0.2);
      width: 100%;
      height: 0.5px;
    }

    .img__cont {
      display: flex;
      justify-content: space-around;
      padding-top: 50px;

      img {
        width: 40px;
      }
    }
  }
}
